<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Report - PageShield</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'classify/reportStyle.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'url_form' %}" class="logo">PageShield</a>
    </header>
    <main>
        <div class="report-form">
            <h2>URL 신고하기</h2>
            <form id="report-form" method="post" action="{% url 'report' %}">
                {% csrf_token %}
                <label for="reported-url">신고할 URL</label>
                <input type="text" id="reported-url" name="reported-url" placeholder="URL을 입력하세요.." required>

                <label for="report-tag">신고 태그</label>
                <select id="report-tag" name="report-tag" required>
                    <option value="" disabled selected>신고 키워드를 선택하세요..</option>
                    <option value="정상">정상</option>
                    <option value="불법저작물배포사이트">불법저작물배포사이트</option>
                    <option value="성인사이트">성인사이트</option>
                    <option value="도박사이트">도박사이트</option>
                    <option value="기타">기타</option>
                </select>
                <input type="text" id="other-tag" name="other-tag" placeholder="기타 키워드를 입력하세요.." style="display:none; margin-top: 10px;">

                <label for="report-reason">신고 이유</label>
                <textarea id="report-reason" name="report-reason" rows="4" placeholder="신고 사유를 입력하세요.." required></textarea>

                <button type="submit">신고하기</button>
            </form>
        </div>
        <div id="message" style="display:none;"></div>
    </main>

    <script>
        document.getElementById('report-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                headers: {
                    'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Accept': 'application/json',
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                const messageDiv = document.getElementById('message');
                if (data.status === 'success') {
                    messageDiv.style.color = 'green';
                    messageDiv.innerHTML = data.message;
                    messageDiv.style.display = 'block';
                    setTimeout(() => {
                        window.location.href = data.redirect_url;
                    }, 2000); // 2초 후 리디렉트
                } else {
                    messageDiv.style.color = 'red';
                    messageDiv.innerHTML = data.message;
                    messageDiv.style.display = 'block';
                }
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('report-tag').addEventListener('change', function(event) {
            const otherTagInput = document.getElementById('other-tag');
            if (event.target.value === '기타') {
                otherTagInput.style.display = 'block';
            } else {
                otherTagInput.style.display = 'none';
            }
        });
    </script>
</body>
</html>
