<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageShield</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'classify/mhStyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>PageShield</h1>
        <div class="footer-text">현재 등록된 홈페이지 : 총 000000개</div>
        <div class="footer-text">오늘 등록된 홈페이지 : 총 000000개</div>
        <div class="footer-text">어제 등록된 홈페이지 : 총 000000개</div>
        <div class="search-container">
            <form method="post" action="{% url 'process_url' %}" id="url-form">
                {% csrf_token %}
                <input type="text" class="search-bar" id="search-input" name="url" placeholder="url을 입력하세요..">
                <button type="submit" class="search-button" id="search-button">Search</button>
            </form>
        </div>
    </div>
</body>
</html>
