* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header .logo {
    font-size: 30px; /* 고정 크기로 설정 */
    font-weight: bold;
    color: #0033cc;
    margin-right: 25px; /* 로고와 검색창 사이의 여백 */
}

header .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header .search-bar input {
    width: 450px; /* 고정 너비 */
    height: 35px; /* 고정 높이 */
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

header .search-bar button {
    width: 70px; /* 고정 너비 */
    height: 35px; /* 고정 높이 */
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #0033cc;
    color: white;
    cursor: pointer;
}

header .search-bar .report-button {
    width: 150px; /* 넓은 버튼 */
    height: 35px; /* 고정 높이 */
    font-size: 13px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px; /* 좌측에 여백 추가 */
}

main {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 검색 결과가 왼쪽에 붙도록 설정 */
    align-items: flex-start; /* 검색 결과가 상단에 붙도록 설정 */
}

.search-results {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.search-result {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.search-result:nth-child(odd) {
    background-color: #f9f9f9;
}